
   <!-- Formularios -->
    <div class="contenedor-formularios">
        <!-- Links de los formularios -->
        <ul class="contenedor-tabs">
            <li class="tab tab-segunda active"><a href="#iniciar-sesion">Iniciar Sesión</a></li>
            <li class="tab tab-primera"><a href="#registrarse">Registrarse</a></li>
        </ul>

        <!-- Contenido de los Formularios -->
        <div class="contenido-tab">
            <!-- Iniciar Sesion -->
            <div id="iniciar-sesion">
                <h1>Iniciar Sesión</h1>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <br>
                  <div class="contenedor-input" >
                        <label>
                            Correo electrónico <span class="req">*</span>
                        </label>
                    <%= f.email_field :email, autofocus: true, id: "user_email" %>
                  </div>

                  <div class="contenedor-input">
                    <label>
                        Contraseña <span class="req">*</span>
                    </label>
                  <%= f.password_field :password, autocomplete: "off"%>
                </div>
                  <p class="forgot"><a href="/users/password/new">¿Se te olvidó la contraseña?</a></p>
                  <input type="submit" class="button button-block" value="Iniciar Sesión">

            <% end %>
            </div>

            <!-- Registrarse -->
            <div id="registrarse">
                <h1>Registrarse</h1>
                <%= render "/devise/registrations/new" %>
            </div>
        </div>
    </div>




<% a = User.all %>
<p style="padding:19px; font-size: 16px;">Los usuarios disponibles son:</p>
<ul class="list-group">

  <% a.each do |user| %>
  <li class="list-group-item" style="padding: 19px;font-size: 16px;">
    <%= user.email %>
  </li>
  <% end %>
